.header{
	background-color: #17223b;
	height: 112px;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items :	center;
	.header-name{
		font-size: 32px;
		color: #ffffff;	
	}
}

.main{
	display: flex;
	.left-side{
		background-color: #263859;
		width: 200px;
		height: calc(100vh - 112px - 112px);
	}
	.main-list{
		font-size: 16px;
		background-color: #6b778d;
		width: calc(100vw - 200px - 200px);
		height: calc(100vh - 112px - 112px);
		.product{	
			margin: 32px 0 0 10px;
			.product-list{
				display: flex;
				background-color: #ffffff;
				width: 1000px;
				height: 32px;
				padding: 8px 0 0 8px ;
				margin-top: 10px;
				.product-name{
					width: 30%;
				}
				.note{
					width: 30%;
				}
				.date-addend{
					width: 20%;;
					font-size: 8px;
				}
				.delete-button{
					height: 40px;
					width: 80px;;
					margin-left: 10px;
					position: relative;
					bottom: 8px;
					left: 110px;
				}	
			}											
		}
	}

	.right-side{
		background-color: #263859;
		width: 200px;
		height: calc(100vh - 112px - 112px);
	}
	
}

.footer{
	font-size: 16px;	
	width: 100vw;
	height: 112px;
	background-color: #d2d2d2;
	display: flex;
	justify-content: center;
	align-items :	center;
	.product-name{
		height: 40px;
		width: 500px;
	}
	.product-note{
		height: 40px;
		width: 400px;
	}
	.product-button{
		height: 40px;
		width: 60px;
		margin-left: 10px;
	}

}	