.header 
	.header-name
		買い物リスト

.main
	.left-side

	.main-list
		.product
			.product-list
				.product-name
					商品名
				.note
					メモ
				.date-addend
					追加日
			%input.delete-button{"type":	"reset","value":	"削除" }
	
	.right-side


.footer
	%input.product-name{"type":	"text", "placeholder": "商品名"}
	%input.product-note{"type":	"text", "placeholder": "メモ"}
	%input.product-button{"type":	"submit","value":	"追加" }
	